<ion-content>
  <app-card
    [title]="'BIG NEW YORKER BACON & BANANA PEPPERS'"
    [description]="'Es una pizza de gran tamaño, inspirada al estilo New York con rebanadas grandes, de pepperoni y trocitos de bacon, con abundante rebanadas de chile banana peppers de sabor suave con toque ácido, con una mezcla de orégano y queso parmesano sobre los ingredientes y mantequilla de ajo a la orilla.'"
    [image]="'https://www.pizzahutonline.hn/Imagenes/CATEGORIAS/PIZZAS/PH0030.jpg'"
  ></app-card>
</ion-content>
